{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table>
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Discharge Type</th>
            <th>Discharge Date</th>
            <th>Discharged By</th>
        </tr>
    </thead>
    <tbody>
        {% for discharge in patient_discharge %}
        <tr>
            <td>{{ discharge.patient_id }}</td>
            <td>{{ discharge.discharge_type }}</td>
            <td>{{ discharge.discharge_date }}</td>
            <td>{{ discharge.discharged_by }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'patient_discharge' %}">New Discharge Entry</a>
<a href="{% url 'download_discharge_summary' %}">Download Summary</a>

{% endblock %}